<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <script src="/static/index.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" type="text/css" href="/static/bulma.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
</head>


<body class="has-background-dark">
    <section class="hero is-dark is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <img src="/static/apple-touch-icon.png" alt="imagem pequena" style="width: 100px; height: auto;"
                    class="mb-3">
                <h1 class="title is-1 has-text-white"> ED 360° SOLUÇOES DIGITAIS </h1>
                <p class="subtitle is-3 has-text-grey-light">Transforme sua presença digital e conquiste mais clientes.
                </p>


                <br>
                <div class="columns is-centered">
                    <div class="column is-half">
                        <p class="has-text-justified has-text-white-ter">
                            No mundo digital de hoje, ter um site profissional e uma forte presença no Instagram é
                            essencial para o sucesso.
                            Nós te ajudamos a criar a estratégia perfeita, desde o design do seu site até o conteúdo que
                            engaja seu público,
                            para que você possa focar no que realmente importa: o crescimento do seu negócio.
                        </p>
                    </div>
                </div>

                <br>

                <div class="columns is-centered">
                    <div class="column is-half">
                        <div class="box has-background-grey-darker has-text-white-ter">
                            <h2 class="title is-4 has-text-info">Sobre Nós</h2>
                            <p class="has-text-justified">
                                Somos uma equipe apaixonada por marketing digital e desenvolvimento web. Nossa
                                missão é
                                impulsionar
                                negócios de todos os tamanhos, oferecendo soluções personalizadas que geram
                                resultados
                                reais.
                                Com anos de experiência, sabemos o caminho para o sucesso online e estamos prontos
                                para
                                guiar você.
                            </p>
                        </div>
                    </div>
                </div>
                <br>

                <div class="columns is-centered">
                    <div class="column is-half">
                        <div class="box has-background-grey-darker has-text-white-ter">
                            <h2 class="title is-4 has-text-info">Nossos Serviços</h2>
                            <p class="has-text-justified">
                                Projetamos e desenvolvemos serviços de alta qualidade para ajudar sua empresa a se
                                destacar no mercado digital, conforme as necessidades de seu negocio.
                            </p>
                            <p> Serviços oferecidos:
                            <p>- Criação de Tour Virtual 360º</p>
                            <p>-Google Meu Negócio
                            <p>
                            <p>- Criação de Sites Profissionais</p>
                            <p>- Criação de Chatbots</p>
                            <p>- Criação de Landing Pages</p>
                            <p>- Marketing Digital</p>
                            <p>- Gestão de Redes Sociais </p>
                            <p>- SEO (Otimização para Motores de Busca)</p>
                            <p>- Campanhas Publicitárias Online
                            </p>

                        </div>
                    </div>
                </div>

                <div class="columns is-centered">
                    <div class="column is-half">
                        <div class="box has-background-grey-darker has-text-white-ter">
                            <h2 class="title is-4 has-text-info"> Sobre o Tour Virtual 360° </h2>

                            <p class="has-text-justified">
                                Nós, da Empresa ED Marketing somos especialistas em criação de Tour Virtual
                                360º.
                            <p>
                            <p> Mas o que é o Tour Virtual 360º?
                            <p>
                            <p> O Tour Virtual 360º é uma experiencia imersiva digital que utiliza
                                fotos/vídeos panorâmicos de um ambiente para permitir que o usuário/cliente
                                explore o local em todas as dimensões, como se estivesse presente
                                fisicamente no local. </p>
                            <p> Os usuários podem navegar pelo espaço, olhar ao redor, mover-se entre
                                diferentes áreas e interagir com elementos específicos, proporcionando uma
                                sensação realista de estar dentro do ambiente.</p>
                            <p>Essa tecnologia é amplamente utilizada em diversos setores, como turismo,
                                imobiliário, educação, eventos e comércio eletrônico, oferecendo uma maneira
                                inovadora de apresentar locais e produtos de forma envolvente e interativa.
                            </p>
                            <p>
                                O Tour Virtual 360º é uma ferramenta poderosa para empresas que desejam
                                destacar seus espaços físicos e atrair clientes, proporcionando uma
                                experiência única e memorável.
                            <p>

                            <p>E esse é nosso objetivo, trazer para o mundo virtual sua empresa, com todos
                                os detalhes para trazer esta experiencia incrível para seus clientes.
                            <p>

                            <p>Contate nos para mais informações, estamos sempre prontos para atendê-los.
                            </p>
                        </div>
                    </div>
                </div>

                <!-- comentários fixos -->
                <div class="box has-background-grey-darker">
                    <h2 class="title is-3 has-text-info">Comentários Recentes</h2>
                    <div class="box has-background-dark">
                        <p class="has-text-success">Rose Alves, Cabeleireira</p>
                        <p class="has-text-white-ter">Serviço rápido e eficiente!</p>
                    </div>
                    <div class="box has-background-dark">
                        <p class="has-text-success">Aldo Marcus, Marceneiro</p>
                        <p class="has-text-white-ter">Meu caso era complicado, mas eles resolveram</p>
                    </div>
                    <!-- comentários dinamicos -->
                    {% if comentarios %}
                    {% for comentario in comentarios %}
                    <div class="box has-background-dark">
                        <p class="has-text-success">{{ comentario.autor }}</p>
                        <p class="has-text-white-ter">{{ comentario.texto }}</p>
                    </div>
                    {% endfor %}
                    {% else %}
                    <!-- <p class="has-text-white-ter">Nenhum comentário encontrado.</p> -->
                    {% endif %}
                </div>

                <button class="button is-info m-3" onclick="abrirModal('modalOrcamento')">Solicite um
                    Orçamento!</button>

            </div>
        </div>
    </section>





    <div style="position: absolute; top: 0.5rem; right: 0.5rem; display: flex; align-items: right;">
        <!-- {% if login_error %}
        <p class="help is-danger is-down">{{ login_error }}</p>
        {% endif %} -->
        <button class="button is-success is-right" onclick="abrirModal('modalLogin')">Login</button>

    </div>

    <div class="modal" id="modalLogin">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box has-background-grey-darker has-text-white-ter">
                <h2 class="title is-4 has-text-info">Acesso ao Painel</h2>

                <form method="POST" id="form_login" onsubmit="semPost(event)">
                    <div class="field">
                        <label class="label has-text-grey-light">Usuário</label>
                        <div class="control">
                            <input id="usern" class="input is-dark has-text-white-ter" type="text" name="username"
                                placeholder="Seu usuário" required>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label has-text-grey-light">Senha</label>
                        <div class="control">
                            <input id="passw" class="input is-dark has-text-white-ter" type="password" name="password"
                                placeholder="Sua senha" required>
                        </div>
                    </div>

                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-success" onclick="submitLogin()">Entrar</button>
                        </div>
                        <div class="control">
                            <button class="button is-link is-light" type="button"
                                onclick="fecharLogin()">Cancelar</button>
                        </div>
                        <div class="is-justify-content-center is-align-items-center">
                            <p class="is-hidden has-text-centered has-text-danger" id="loginErro"> Usuário ou senha
                                incorretos
                            </p>
                        </div>
                        <div class="is-flex is-justify-content-center is-align-items-center">
                            <p class="is-hidden has-text-centered has-text-danger " id="loginIncompleto"> Por favor,
                                preencha
                                todos os campos. </p>
                        </div>

                    </div>
                </form>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close" onclick="fecharLogin()"></button>
    </div>

    <div class="modal" id="modalOrcamento">
        <!-- <div class="modal-background"></div> -->
        <div class="modal-content">
            <div class="box has-background-grey-dark">
                <h2 class="title is-3 has-text-success">Solicitação de Orçamento</h2>

                <form method="POST" id="form_orca" onsubmit="semPost(event)">
                    <div class="field">
                        <label class="label has-text-grey-light">Seu Nome</label>
                        <div class="control">
                            <input id="nome" class="input is-dark has-text-white-ter" type="text" name="nome"
                                placeholder="Seu nome" required>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label has-text-grey-light">Seu Email</label>
                        <div class="control">
                            <input id="email" class="input is-dark has-text-white-ter" type="email" name="email"
                                placeholder="Seu email" required>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label has-text-grey-light">Detalhes do Projeto</label>
                        <div class="control">
                            <textarea id="solicit" class="textarea is-dark has-text-white-ter" type="text"
                                name="solicit" placeholder="Descreva como podemos te ajudar" required></textarea>
                        </div>
                    </div>

                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-success" onclick="submitOrca()">Enviar</button>
                        </div>
                        <div class="control">
                            <button class="button is-light" type="button" onclick="fecharOrca()">Cancelar</button>
                        </div>
                        <div class="is-flex is-justify-content-center is-align-items-center">
                            <p class="has-text-centered has-text-danger is-hidden" id="erroSoli"> Por favor,
                                preencha todos os campos. </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close" onclick="fecharOrca()"></button>
    </div>


    <script>

    </script>

</body>

</html>